
html, body {
    overflow: hidden;
}

body .resetbody{
    background-color: #fff;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}
.resetform-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white; 
    width: 290px; 
    height: 400px; 
    /* padding: 40px; */
    transform:translate(-50%,-50%);
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.resetlogo img {
    width: 200px;
height: 130px;
margin: 0; 
display: block;

}
.resetform-box form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.resetform-box input[type="password"] {
width: 85%; 
padding: 8px;
margin: 5px 0; 
border: 1px solid #ccc;
border-radius: 25px;
text-align: left;
margin-top: 0%;
}


body .Change {
    background-color: #fff;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}
.changeform-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white; 
    width: 290px; 
    height: 400px; 
    /* padding: 40px; */
    transform:translate(-50%,-50%);
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo img {
    width: 200px;
height: 130px;
margin: 0; 
display: block;

}
.changeform-box form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.changeform-box input[type="password"] {
width: 85%; 
padding: 8px;
margin: 5px 0; 
border: 1px solid #ccc;
border-radius: 25px;
text-align: left;
margin-top: 0%;
}
.heading h2 {
        margin: 0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large;
        color: #ffb217;

    }

.changeform-box input[type="submit"] {
    width: 70%;
    padding: 5px;
    background-color: #ffb217;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}
.changediv_img img {
    width: 225%;
    height: 120%;
    z-index: 2;
    position: absolute;
    right: 30%; 
    top: 50%; 
    transform: translateY(-50%);
}
.resetform-box input[type="submit"] {
    width: 70%;
    padding: 5px;
    background-color: #ffb217;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}
.resetdiv_img img {
    width: 225%;
    height: 120%;
    z-index: 2;
    position: absolute;
    right: 30%; 
    top: 50%; 
    transform: translateY(-50%);
}


